#pic{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

body{
    background-color: aqua;
}

.login_div
{
    background-color: yellow;
    border-radius: 15px;
    float: none;
}
